<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ACD.Properties.Settings.vaxasDatabaseConnectionString"
            connectionString="Data Source=vaxas.database.windows.net;Initial Catalog=vaxasDatabase;User ID=vaxasAdmin;Password=texasa&amp;m1;Asynchronous Processing=True;Encrypt=True;MultiSubnetFailover=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>